sync.json
ass
srt
mp3
.history
venv
.venv
.idea
.vscode
*.mp3
*.mp4
*.webm
*.mkv
*.srt
*.ass
*.log
*.pyc
*.dll
*.exe
*.json
*.out
*.txt
media
__pycache__
caption/Logs
segments.json